[Unit]
Description=User Service
After=network.target

[Service]
ExecStart=/home/mutu/projects/Go-Systemd-Micro-Service/user-service/bin/user-serviceBinary
Restart=on-failure
RestartSec=10
WorkingDirectory=/home/mutu/projects/Go-Systemd-Micro-Service/user-service
User=mutu

[Install]
WantedBy=multi-user.target